
:root {
    --colorA: red; /*Declaro las variables para poder cambiar los colores a fututo*/
    --colorB: black; /**Esto esta pensando para el menu*/
    --colorC: blue;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

.nav {
    display: flex;
    justify-content: space-between; /* logo a la derecha y el menú a la izquierda */
    align-items: center;
    border-bottom: 1px solid var(--colorA);
}

.logo img {
    /* background-color: black;*/
    height: 5rem;    
}

.menu {
    display: flex;
    gap: 2rem;
    margin: 1rem;
}

.menu li {
    position: relative; /* Hace que los elementos li se comporten como áreas separadas */
}

.sub_menu {
    /*display: none; /* Comienza oculto */
    position: absolute;
    background: #FFF;
    border: 0.1rem solid #fdfcfc;
    padding: 10px;
    opacity: 0; /* Configura la opacidad inicial en 0 */
    transition: opacity 1s ease-in-out; /* Transición de opacidad */
    z-index: 99;
    min-width: 200px; /* Ajusta el ancho a tu preferencia */
}
.li__menu {
    padding: 0.5rem;
}

.tiendaMenu:hover .sub_menu {
    display: block; /* Mostrar el submenú al hacer hover */
    opacity: 1; /* Hacerlo gradualmente visible */
}
.sub_menu li {
    margin-bottom: 5px; /* Agrega un margen inferior entre elementos li */
}


i {
    padding-right: 5px; /*le coloco una pequeña separcion a los iconos*/
}

li {
    list-style: none; /*Retiro las esferas negras de las listas*/
}
li a { 
    text-decoration: none; 
    position: relative; /* para que los elementos esten posicionados con respecto a este elemento */
}

li a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%; /* Inicialmente, el gradiente lineal se extiende desde la izquierda */
    bottom: 0;
    border-bottom: 1px solid; /* Grosor y estilo del borde inferior */
    background: linear-gradient(90deg, transparent, #1E46FB); /* Gradiente lineal de derecha a izquierda */
    transition: right 0.9s ease-in-out; /* Transición de la propiedad "right" para suavizar el efecto */
}

li a:hover::before {
    right: 0; /* Al hacer hover, ajusta "right" a 0 para que el gradiente lineal se cargue de derecha a izquierda */
}

.article {
    height: 25rem;
    position: relative;
    width: 100%;
    /*background-color: black;*/
}

.bienvenidos {
    background-image: url(../img/bienvenidos.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bienvenidos h2 {
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.bienvenidos p {
    /* background-color: black; */
    height: 10rem;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 3rem 15rem 10rem;
}

.marco {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem ;
    margin: auto;
}

.contenedor_img {
    display: flex;
    
}

.contenedor_img img {
    width: 10rem;
    height: 10rem;

    
}
.article_img {
        padding: 1rem;
        margin: auto;
}

.FAQ {
    background-color: white;
    color: black;
    background-color: #fffefe;
    padding: 2rem;
    margin: 2rem 0; /* Agrega márgenes arriba y abajo para separar de otras secciones */
  }

  .FAQ .respuesta {
    display: none;
    transition: display 0.3s;
  }
  
  .FAQ .pregunta:hover .respuesta {
    display: block;
  }
  
  footer {
    border-top: 1px solid var(--colorA);
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
    
  
  

  



/*Con esto puedo ajustar el tamaño para la pantalla, si es mayor a 800px  */
@media only screen and (max-width:800px) {
    .nav {
        align-items: flex-start; /*Coloco el icono al inicio de todo*/
    }
    .menu { /*Coloco la lista alineada */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1rem;
    }
    .logo img {
        /* background-color: black;*/
        height: 2rem;    
    }
    .article {
        position: relative;
        height: 10rem;
        background-color: black;
    }
    .bienvenidos h2 {
        padding-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    .bienvenidos p {
       /*  background-color: black; */
        height: 5rem;
        color: white;
        text-align: center;
        font-size: 15px;
        margin: 1rem 6rem 6rem;
    }
    
    
    
}