
:root {
    --colorA: red; /*Declaro las variables para poder cambiar los colores a fututo*/
    --colorB: black; /**Esto esta pensando para el menu*/
    --colorC: blue;
}

body {
    font-family: 'Courier New', Courier, monospace; /*sE PUEDE CAMBIAR POR ALGUNA OTRA*/
    font-weight: lighter;
}

.nav {
    display: flex;
    justify-content: space-between; /* logo a la derecha y el menú a la izquierda */
    align-items: center;
    border-bottom: 1px solid var(--colorA);
}

.logo img {
    /* background-color: black;*/
    height: 5rem;    
}
.menu {
    display: flex;
    gap: 2rem;
    margin: 1rem;
}

i {
    padding-right: 5px; /*le coloco una pequeña separcion a los iconos*/
}

li {
    list-style: none; /*Retiro las esferas negras de las listas*/
}
li a {
    text-decoration: none; /*Con esto retiro la linea de abajo de los enlaces*/
    
}

/*Con esto puedo ajustar el tamaño para la pantalla, si es mayor a 800px  */
@media only screen and (max-width:800px) {
    .nav {
        align-items: flex-start; /*Coloco el icono al inicio de todo*/
    }
    .menu { /*Coloco la lista alineada */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1rem;
    }
    .logo img {
        /* background-color: black;*/
        height: 2rem;    
    }
    
    
    
}
footer {
    border-top: 1px solid var(--colorA);
}